/* Montserrat 400 */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Montserrat-Regular'),
    url('Montserrat-Regular.woff2') format('woff2'),
    url('Montserrat-Regular.woff') format('woff');
}

/* Montserrat 500 */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('Montserrat-Medium'),
    url('Montserrat-Medium.woff2') format('woff2'),
    url('Montserrat-Medium.woff') format('woff');
}

/* Montserrat 600 */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local('Montserrat-SemiBold'),
    url('Montserrat-SemiBold.woff2') format('woff2'),
    url('Montserrat-SemiBold.woff') format('woff');
}

/* Montserrat 700 */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Montserrat-Bold'),
    url('Montserrat-Bold.woff') format('woff');
}
